.inspire-tree.drag-and-drop li:not(.drop-target) {
    opacity: .5;
}

.drag-targeting {
    &.drag-targeting-insert {
        &.inspire-tree,
        > .title-wrap > .node {
            border: 1px solid #2dadc5;
        }
    }

    &.drag-targeting-above > .title-wrap > .node {
        border-top: 3px solid #2dadc5;
    }

    &.drag-targeting-below > .title-wrap > .node {
        border-bottom: 3px solid #2dadc5;
    }
}
